# Puerto del gateway
PORT=5000

# URLs de los microservicios
USERS_SERVICE_URL=http://localhost:5001
MP_SERVICE_URL=http://localhost:5002

# URL del frontend
FRONTEND_URL=http://localhost:5173

# Entorno
NODE_ENV=development